.App {
  display: flex;
  height: 100%;
  min-width: 30%;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  margin: 0rem;
}

.logo {
  display: flex;
  padding: 6px 9px;
  padding-bottom: 0px;
  margin-top: 9px;
  margin-bottom: 1rem;
  max-height: 56px;
  height: calc(18px + 9vmin);
  cursor: pointer;
}

h2{
  cursor: pointer;
  padding-top: 23px;
  margin-bottom: 0px;
  color: #1549a3;
}
/* 
.App-header {
  background-color: #d9d4cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.head-container {
  background-color: rgb(235, 228, 220);
  display: flex;
  margin: 0rem;
  padding: 0rem;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  align-items: top;
  position: sticky;
  top: 0;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  margin-top: 0px;
}

form{
  padding: 0px 60px;
  border: 2px solid rgb(215, 198, 179);
  border-radius: 6px;
  margin-top: 0px;
}
form:hover{
  border: 3px solid rgba(215, 198, 179, 0.3);
}

label {
  font-size: 12px;
  margin-bottom: 1px;
  margin-top: 3px;
  color: #333;
}

input{
  padding: 12px;
  margin: 6px 0;
  width: 94%;
  border: 1px solid #333;
  border-radius: 6px;
}

span{
  font-size: 12px;
  padding: 0px;
  width: 100%;
  color: #dc1616;
  margin-bottom: 3px;
  display: none;
}

.formInput{
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 10px 0px;
}

.link-btn {
  background: none;
  font-weight:300;
  color: #165ddc;
  text-decoration: underline;
  margin-bottom: 18px;
}

input:invalid[focused="true"]{
  border: 1px solid #dc1616;
}

input:invalid[focused="true"] ~ span{
  display: block;
}

button{
  width: 100%;
  height: 50px;
  padding: 2px;
  border: none;
  background-color: #165ddc;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 3px;
}

.App-link {
  color: #165ddc;
}
